<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studioxottawa">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudioXOttawa"
        android:usesCleartextTraffic="true">
        <activity android:name=".Checkout.Cart"></activity>
        <activity android:name=".Checkout.CheckoutActivityJava" />
        <activity android:name=".welcome.ForgotPassword" />
        <activity android:name=".welcome.RegisterActivity" />
        <activity android:name=".contact.contact" />
        <activity android:name=".news.NewsActivity" />
        <activity android:name=".news.EmptyActivity" />
        <activity android:name=".aboutus.AboutusActivity" />
        <activity android:name=".schedule.BookAppointments" />
        <activity
            android:name=".notification.notifActivity"
            android:label="@string/title_activity_notif" />
        <activity
            android:name=".services.ServicesActivity"
            android:label="@string/title_activity_services" />
        <activity android:name=".vod.VODLibraryActivity" />
        <activity android:name=".vod.VODActivity" />
        <activity android:name=".welcome.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".schedule.Schedule" />
        <activity android:name=".staff.Report" />
        <activity android:name=".welcome.MainActivity">
        </activity>
        <activity android:name=".staff.StaffMenu"/>
        <activity android:name=".staff.AddService">

        </activity>
    </application>

</manifest>