<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studioxottawa">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/studiox"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/studiox"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudioXOttawa"
        android:usesCleartextTraffic="true">
        <activity android:name=".welcome.ViewAccountDetails"></activity>
        <activity android:name=".welcome.LoginActivity" />
        <activity android:name=".Checkout.Cart" />
        <activity android:name=".Checkout.CheckoutActivityJava" />
        <activity android:name=".welcome.ForgotPassword" />
        <activity android:name=".welcome.RegisterActivity" />
        <activity android:name=".contact.ContactUs" />
        <activity android:name=".news.EmptyActivity" />
        <activity android:name=".aboutus.AboutusActivity" />
        <activity android:name=".schedule.BookAppointments" />
        <activity android:name=".staff.AddEvent" />
        <activity android:name=".staff.AddNews" />
        <activity
            android:name=".notification.notifActivity"
            android:label="@string/title_activity_notif" />
        <activity
            android:name=".services.ServicesActivity"
            android:label="@string/title_activity_services" />
        <activity android:name=".welcome.WelcomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VODPlayer.VODLibraryActivity" />
        <activity android:name=".VODPlayer.VODActivity" />

        <activity android:name=".staff.Report" />
        <activity android:name=".welcome.MainActivity" />
        <activity android:name=".staff.StaffMenu" />
        <activity android:name=".staff.AddService" />
    </application>

</manifest>